<div class="container">
    
        <div class="col-md-6">
            <div class="md-form form-sm">
                <i class="fas fa-lock prefix"></i>
                <label for="old_password">Oude Wachtwoord</label>
                <input id="old_password" class="form-control" type="password" ng-model="form.old_password">                                         
            </div>                       
        </div>

        <div class="col-md-6">
            <div class="md-form form-sm">
                <i class="fas fa-lock prefix"></i>
                <label for="new_password">Nieuwe Wachtwoord</label>
                <input id="new_password" class="form-control" type="password" ng-model="form.new_password">                                         
            </div>                       
        </div>

        <div class="col-md-6">
            <div class="md-form form-sm">
                <i class="fas fa-lock prefix"></i>
                <label for="repeat_password">Herhaal Wachtwoord</label>
                <input id="repeat_password" class="form-control" type="password" ng-model="form.repeat_password">                                         
            </div>                       
        </div>

        <button ng-click="updatePassword(form)" class="btn btn-success btn-sm">Opslaan</button>
</div>